<div class="ox-ui-main">
  <div class="ox-ui-primary-column">
    <h1>РАСПИСАНИЕ</h1>
    <div class="ox-ui-primary-tab ox-ui-schedule">
      
    </div>
  </div>
  <div class="ox-ui-primary-column">
    <h1>БРС</h1>
    <div class="ox-ui-primary-tab ox-ui-prs">
      
    </div>
    <h1>ДОКУМЕНТЫ</h1>
    <div class="ox-ui-primary-tab">
      ...
    </div>
  </div>
</div>
