*::before {
  margin: 0;
}

body {
  background-color: #1E46A1 !important;
  overflow: hidden !important;
}

a {
  color: white !important;
}

input {
  background-color: #1E46A1 !important;
  border: 1px solid white !important;
  border-radius: 10px !important;
  font-size: 20px !important;
  color: white !important;
  padding: 8px 16px !important;
  width: auto;
}

input:focus {
  outline: none;
}

input:-webkit-autofill::first-line {
  color: white !important;
  font-size: 20px !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 50px #1E46A1 inset !important;
  -webkit-text-fill-color: white !important;
  caret-color: white;
}

input::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,
input::-ms-input-placeholder,
input::placeholder {
  color: white;
}

#brandingWrapper {
  display: none;
}

#contentWrapper {
  background-color: transparent !important;
}

#header {
  display: none;
}

#branding {
  display: none;
}

#loginMessage {
  display: none;
}

#footer {
  display: none;
}

#authArea {
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#loginArea {
  display: flex;
  flex-direction: column;
}

#formsAuthenticationArea {
  display: grid !important;
  width: 100%;
  grid-template-columns: 1fr 1fr 0.0fr 1fr;
}

#userNameArea {
  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 1;
  grid-row-end: 1;
}

#passwordArea {
  grid-column-start: 1;
  grid-column-end: 3;

  grid-row-start: 2;
  grid-row-end: 2;
}

#submissionArea {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  margin-left: 8px;

  grid-column-start: 4;
  grid-column-end: 4;

  grid-row-start: 1;
  grid-row-end: 3;
}

#submitButton {
  display: flex !important;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-size: 20px;
  background-color: white;
  color: #1E46A1;
  border: 0px;
}

#submitButton::after {
  content: "\00a0➔";
}

.groupMargin {
  display: none;
}

