.ox-ui-main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 40px;
}

.ox-ui-primary-column {
  display: flex;
  width: 45vw;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.ox-ui-primary-tab {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #77777777;
  color: white;
  font-family: "Montserrat";
  border-radius: 20px;
  min-height: 100px;
  align-items: center;/*todo remove*/
  -webkit-backdrop-filter: blur(4px) !important;
  backdrop-filter: blur(4px) !important;
}

.ox-ui-primary-column > h1 {
  margin-top: 22px;
}

.skugga {
  width: 150px !important;
  transform: translate(-50%, -10%) scale(0.5,0.5) !important;
}

.snurra {
  width: 150px;
  -webkit-backface-visibility: hidden !important;
  backface-visibility: hidden !important;
  opacity: 0.7 !important;
  position: absolute;
  transform: translate(-50%, -10%) scale(0.5,0.5);
}

.ox-ui-schedule {

}

.ox-ui-prs {
}