*::-moz-selection {
  background: #D3D3D388;
}

*::selection {
  background: #D3D3D388;
}

html, body {
  display: block;
  overflow:hidden!important;
}

body {
  overflow: auto !important;
}

body {
  background-image: radial-gradient(
    farthest-corner at 90% 70%,
    #444 0%,
    #222 90%
  ) !important;
}

div, a, p {
  font-family: 'Montserrat';
}

a, p {
  color: white !important;
}

h1 {
  color: white !important;
  font-family: 'Montserrat' !important;
  font-size: 2em !important;
}

.pagewrapper {
  max-height: none !important;
  max-width: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.footer-wrap,
.aside-inform,
.additional-menu,
#breadcrumbs,
img[alt="УРФУ"],
.stdbtm {
  display: none !important;
}

.user {
  position: absolute;
  width: 400px !important;
  margin: 0 !important;
  padding: 0 !important;
  margin-top: 16px !important;
  display: flex !important;
  flex-direction: column;
  padding-right: 10px;
  color: white;
  min-height: initial !important;
  right: 50px;
}

.stdname + * {
  margin: 0 !important;
  margin-left: 12px;
}

div.main-data h4 {
  display: none !important;
}

div.student-data-info {
  margin: 0 !important;
  padding-left: 0px !important;
  box-sizing: border-box;
  
}

div.student-data-info > *:nth-child(n+3) {
  display: none !important;
}

.icon {
  margin: 0px !important;
  margin-right: 8px !important;
}

/* .stdname > * {
  min-width: 36px !important;
} */

.stdname {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 5px !important;
  min-width: initial !important;
  max-width: initial !important;
  height: 50px !important;
  width: 400px;
  box-sizing: border-box !important;
  border: none;/* 1px solid white !important; */
  z-index: 999;
  margin-left: 0px !important;
  margin-top: 17px;
  
  border-radius: 10px !important;
}

.stdname.menuactive {
  background-color: #4b6bb4de;
}

.stdname:hover {
  color: #1E46A1;
  background: white;
  cursor: default !important;
}

.divider-horizontal,
strong,
article > h2 {
  display: none !important;
}


a.exit > span {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

a.exit,
.student-data-info > p {
  cursor: pointer !important;
  color: white;
  width: 400px !important;
  height: 50px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding-left: 5px;
  margin-bottom: 0;
  font-size: 16px !important;
  justify-content: center;
  margin-top: 0px !important;
  
  background-color: #4b6bb4de;
}

a.exit:hover,
.student-data-info > p:hover {
  background-color: white;
  color: #1E46A1 !important;
}

a.exit:hover {
  color: rgb(255, 60, 60) !important;
}

.student-data-info > p::before {
  content: "№ студенческого:\00a0"
}

.student-data-info > p + p::before {
  content: "Группа:\00a0"
}

article {
  border: none !important;
  box-shadow: none !important;
  background: none !important;
}

aside {
  display: none !important;
}

.mobile_user {
  display: none !important;
}

.main-data {
  right: 0px;
  border: none;
  width: initial !important;
  margin: 0px !important;
  flex-direction: column;

  display: none !important; /* revealing via js */
  z-index: 999;
  
  border-radius: 10px !important;
  padding-top: 6px !important;
}

a.exit {
  background-color: #4b6bb4de;
  width: 400px !important;
  display: none !important;
  border-radius: 0px 0px 10px 10px;
}

.flex-revealed {
  display: flex !important;
}

.ox-ui-schedule {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ox-ui-temp-action-menu {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 10vh;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
  z-index: 2;
}

.ox-ui-temp-menu-item {
  font-size: 30px;
  font-weight: 600;
  border: 4px solid white;
  border-radius: 10px;
  width: 40vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.ox-ui-temp-menu-item:hover {
  background-color: white;
  cursor: pointer;
  color:#1E46A1 !important;
}

.student-data-info p:first-of-type {
  border-radius: 10px 10px 0px 0px !important;
}

